- page_title _('Audit Log')

#js-audit-log-app{ data: { form_path: admin_audit_logs_path,
  events: @events.to_json,
  is_last_page: @is_last_page.to_json,
  filter_qa_selector: 'admin_audit_log_filter',
  table_qa_selector: 'admin_audit_log_table',
  filter_token_options: admin_audit_event_tokens.to_json } }
